
@{
    ViewData["Title"] = TempData.Peek("Title");
    var hiddenDatesOnUI = false;
    if (ViewBag.HiddenDatesOnUI !=null)
    {
        hiddenDatesOnUI = (bool)ViewBag.HiddenDatesOnUI;
    }
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="Add" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="nomenclatureListTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var showDatesOnUI = '@hiddenDatesOnUI' === 'True' ? true : false;
            var table = $('#nomenclatureListTable').DataTable({
                ajax: {
                    "url": "@Url.Action("NomenclatureListData", "Nomenclature")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.onlyActive = $("#onlyActive").length == 0 || $("#onlyActive").is(':checked');
                    }
                },
                fnInitComplete: function (settings, json) {
                    initDataTablesSearch(settings);
                    $('div.custom-filter').html(TemplateToHtml('#templateOnlyActive'));
                 },
                columns: [
                    {
                        name: 'orderNumber',
                        data: 'orderNumber',
                        title: 'Номер',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'label',
                        data: 'label',
                        title: 'Име',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'description',
                        data: "description",
                        title: 'Описание',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'dateStart',
                        data: "dateStart",
                        title: 'Валиден от',
                        sortable: true,
                        searchable: true,
                        className: "text-center",
                        "render": function (value) {
                            return JsonBGdate(value);
                        }
                    },
                    {
                        name: 'dateEnd',
                        data: "dateEnd",
                        title: 'Валиден до',
                        sortable: true,
                        searchable: false,
                        className: "text-center",
                        "render": function (value) {
                            return JsonBGdate(value);
                        }
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });

            if (showDatesOnUI) {
                 //3-DateStart, 4-DateEnd
                 table.columns( [3,4] ).visible(false);
            }
            $(document).on('click', '.orderButton', savePosition);
            $(document).on('click', '#onlyActive', table.draw);

            function savePosition(e) {
                var element = e.currentTarget;
                var data = element.dataset;

                element.setAttribute("disabled", "");

                 $.ajax({
                        method: "POST",
                        url: '@Url.Action("ChangeOrder")',
                        dataType: "json",
                        data: data
                    }).fail(function (jqXHR, status, message) {
                            if (jqXHR.responseText) {
                                //messageHelper.ShowErrorMessage(jqXHR.responseText);
                            }
                    }).always(function () {
                        table.draw( false );
                    });
             }
        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="#" data-id="{{this}}" data-direction="up" class="orderButton btn btn-info btn-sm" title="Нагоре"><i class="fa fa-angle-up"></i></a>
        <a href="#" data-id="{{this}}" data-direction="down" class="orderButton btn btn-primary btn-sm" title="Надолу"><i class="fa fa-angle-down"></i></a>
        <a href="@Url.Action("Edit", "Nomenclature")/{{this}}" class="btn btn-warning btn-sm" title="Редактирай"><i class="fa fa-edit"></i><span class="d-none d-lg-inline"> Редактирай</span></a>
    </script>
    <script id="templateOnlyActive" type="text/x-handlebars-template">
        <div class="d-block d-lg-inline ml-2 custom-control custom-checkbox align-middle">
            <input type="checkbox" id="onlyActive" name="onlyActive" class="custom-control-input align-middle" checked>
            <label for="onlyActive" class="custom-control-label align-middle">Само активни</label>
        </div>
    </script>
}
