@model bool
<div class="custom-control custom-switch float-left">
    <input asp-for="@Model" type="checkbox" class="custom-control-input"/>
    <label asp-for="@Model" class="custom-control-label">
        @Html.DisplayNameFor(model => model)
    </label>
    <br />
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>