@{
    ViewData["Title"] = "Справки";
}
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://app.powerbi.com/reportEmbed?reportId=b5ee0299-0467-4d7c-bd20-5c4869822c70&autoAuth=true&ctid=d6aa2005-7fad-43a6-aec3-d29489c80162&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" allowFullScreen></iframe>
    </div>
